.background {
    background: url(../Images/background.png);
    background-size: cover;
}

.block-text-large {
    background: url('../Images/block_text_large.png') no-repeat center center;
}

.block-text {
    background: url('../Images/block_text.png') no-repeat center center;
}

.block-table {
    background: url('../Images/block_table.png') no-repeat center center;
}

.block-image {
    background: url('../Images/block_image.png') no-repeat center center;
}

.block-datetime {
    background: url('../Images/block_calendar.png') no-repeat center center;
}

.clipboard-paste-large {
    background: url('../Images/clipboard_paste_large.png') no-repeat center center;
}

.clipboard-cut {
    background: url('../Images/clipboard_cut.png') no-repeat center center;
}

.clipboard-copy {
    background: url('../Images/clipboard_copy.png') no-repeat center center;
}

.delete {
    background: url('../Images/delete.png') no-repeat center center;
}

.brush {
    background: url('../Images/brush.png') no-repeat center center;
}

.font-bold {
    background: url('../Images/font_bold.png') no-repeat center center;
}

.font-italic {
    background: url('../Images/font_italic.png') no-repeat center center;
}

.font-underline {
    background: url('../Images/font_underline.png') no-repeat center center;
}

.font-strikethrough {
    background: url('../Images/font_strikethrough.png') no-repeat center center;
}

.align-fill {
    background: url('../Images/align_fill.png') no-repeat center center;
}

.align-left {
    background: url('../Images/align_left.png') no-repeat center center;
}

.align-right {
    background: url('../Images/align_right.png') no-repeat center center;
}

.align-center {
    background: url('../Images/align_center.png') no-repeat center center;
}

.brush-large {
    background: url('../Images/brush-large.png') no-repeat center center;
}

.user-hudge {
    background: url('../Images/user_hudge.png') no-repeat center center;
}

.user-large {
    background: url('../Images/user_large.png') no-repeat center center;
}

.sad {
    background: url('../Images/sad_hudge.png') no-repeat center center;
}

.color-large {
    background: url('../Images/color_large.png') no-repeat center center;
}

.coordinates-large {
    background: url('../Images/coordinates_large.png') no-repeat center center;
}

.arrow-left {
    background: url('../Images/arrow_left.png') no-repeat center center;
}

.arrow-right {
    background: url('../Images/arrow_right.png') no-repeat center center;
}

.arrow-up {
    background: url('../Images/arrow_up.png') no-repeat center center;
}

.arrow-down {
    background: url('../Images/arrow_down.png') no-repeat center center;
}

.arrow-up1 {
    background: url('../Images/arrow_up_1.png') no-repeat center center;
}

.arrow-down1 {
    background: url('../Images/arrow_down_1.png') no-repeat center center;
}

.displays-on-large {
    background: url('../Images/displays_on_large.png') no-repeat center center;
}

.displays-off-large {
    background: url('../Images/displays_off_large.png') no-repeat center center;
}

.displays-off {
    background: url('../Images/displays_off.png') no-repeat center center;
}

.displays-refesh {
    background: url('../Images/displays_refresh.png') no-repeat center center;
}

.displays-test {
    background: url('../Images/displays_test.png') no-repeat center center;
}

.displays-cleanup {
    background: url('../Images/displays_cleanup.png') no-repeat center center;
}

.config-download {
    background: url('../Images/config_download_large.png') no-repeat center center;
}

.config-upload {
    background: url('../Images/config_upload.png') no-repeat center center;
}

.config-data-source {
    background: url('../Images/config_data_source.png') no-repeat center center;
}

.access-account {
    background: url('../Images/access_account.png') no-repeat center center
}

.access-reset {
    background: url('../Images/access_reset.png') no-repeat center center;
}

.access-list {
    background: url('../Images/access_lists.png') no-repeat center center;
}

.access-exit {
    background: url('../Images/access-exit.png') no-repeat center center;
}

.zoom-fit {
    background: url('../Images/zoom_fit.png') no-repeat center center;
}

.zoom-in {
    background: url('../Images/zoom_in.png') no-repeat center center;
}

.zoom-out {
    background: url('../Images/zoom_out.png') no-repeat center center;
}