.background {
    background: url(../Images/back.png);
    background-size: cover;
}

.text-block-large {
    background: url('../Images/text_large.png') no-repeat center center;
}

.text-block {
    background: url('../Images/text.png') no-repeat center center;
}

.table-block {
    background: url('../Images/table.png') no-repeat center center;
}

.image-block {
    background: url('../Images/image.png') no-repeat center center;
}

.datetime-block {
    background: url('../Images/calendar.png') no-repeat center center;
}

.paste-large {
    background: url('../Images/paste_large.png') no-repeat center center;
}

.cut {
    background: url('../Images/cut.png') no-repeat center center;
}

.copy {
    background: url('../Images/copy.png') no-repeat center center;
}

.properties {
    background: url('../Images/brush.png') no-repeat center center;
}