<!-- ko with: login-->
<!--
    <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Авторизация!</h5>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Имя пользователя" aria-label="Username" aria-describedby="basic-addon1" data-bind="value: login">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Пароль" aria-label="Password" aria-describedby="basic-addon1" data-bind="value: password">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bind="click: reset">Очистить</button>
                <button type="button" class="btn btn-primary" data-bind="click: submit">Вход</button>
            </div>
        </div>
    </div>
</div>
    -->
<h1>WASTED!!!!</h1>
<!-- /ko -->