@using Nancy.Bundle
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!-- ko with: master-->
<div class="container">
    @Html.Partial("Views/Home/_Menu.cshtml")
</div>
<!-- /ko-->

@Html.Raw(Bundles.GetJsKey("master-js-key"))
