<!-- ko with: master-->
<div class="easyui-ribbon mainmenu">
    <div title="Система">

    </div>
    <div title="Видеостена">
        <div class="ribbon-group">
            <div class="ribbon-group-title">Блоки</div>
            <div class="ribbon-toolbar">
                <a href="#" class="easyui-linkbutton" data-options="name:'textBlock',iconCls:'text-block-large',iconAlign:'top',size:'large'" data-bind="click: addTextBlock">Текст</a><br>
            </div>
            <div class="ribbon-toolbar">
                <a href="#" class="easyui-linkbutton" data-options="name:'tableBlock',iconCls:'table-block',plain:true">Таблица</a><br>
                <a href="#" class="easyui-linkbutton" data-options="name:'imageBlock',iconCls:'image-block',plain:true">Изображение</a><br>
                <a href="#" class="easyui-linkbutton" data-options="name:'imageBlock',iconCls:'datetime-block',plain:true">Дата/время</a><br>
            </div>
        </div>
        <div class="ribbon-group-sep"></div>
        <div class="ribbon-group">
            <div class="ribbon-toolbar">
                <a href="#" class="easyui-linkbutton" data-options="name:'paste',iconCls:'icon-paste-large',iconAlign:'top',size:'large'">Вставить</a>
            </div>
            <div class="ribbon-toolbar">
                <a href="#" class="easyui-linkbutton" data-options="name:'cut',iconCls:'icon-cut',plain:true">Вырезать</a><br>
                <a href="#" class="easyui-linkbutton" data-options="name:'copy',iconCls:'icon-copy',plain:true">Копировать</a><br>
                <a href="#" class="easyui-linkbutton" data-options="name:'format',iconCls:'icon-format',plain:true">Свойства</a>
            </div>
            <div class="ribbon-group-title">Правка</div>
        </div>
        <div class="ribbon-group-sep"></div>
        <div class="ribbon-group">
            <div class="ribbon-toolbar">
                <div>
                    <label class="ribbon-toolbar-coordinates-label">Слева:</label>
                    <input id="left" class="easyui-numberspinner ribbon-toolbar-coordinates-input" data-options="min:0,editable:true">
                    <label class="ribbon-toolbar-coordinates-label">Сверху:</label>
                    <input id="top" class="easyui-numberspinner ribbon-toolbar-coordinates-input" data-options="min:0,editable:true">
                </div>
                <div>
                    <label class="ribbon-toolbar-coordinates-label">Высота:</label>
                    <input id="top" class="easyui-numberspinner ribbon-toolbar-coordinates-input" data-options="min:0,editable:true">
                    <label class="ribbon-toolbar-coordinates-label">Ширина:</label>
                    <input id="top" class="easyui-numberspinner ribbon-toolbar-coordinates-input" data-options="min:0,editable:true">
                </div>
            </div>
            <div class="ribbon-group-title">Положение</div>
        </div>
    </div>
</div>

<div id="cc" class="easyui-layout mainframe">
    <div class="sidepanel" data-options="region:'west',title:'Свойства',split:true"></div>
    <div class="workplace" data-options="region:'center',title:''"></div>
</div>
<!-- /ko-->