<!-- ko with: master-->
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="true">Видеостена</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="system-tab" data-toggle="tab" href="#system" role="tab" aria-controls="system" aria-selected="false">Система</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="video" role="tabpanel" aria-labelledby="video-tab">
            <div class="panel panel-default ribbon-group">
                <div class="panel-body ribbon-toolbar">
                    <button class="btn btn-sm btn-light navbar-btn ribbon-element">
                        <div class="ribbon-vertical-button-content">
                            <div class="text-block-large ribbon-large-icon"></div>
                            <div>Текст</div>
                        </div>
                    </button>
                    <div class="ribbon-clip">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-light dropdown-toggle btn-image tableBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Таблица
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-light navbar-btn ribbon-element">
                            <div class="ribbon-horizontal-button-content">
                                <div class="image-block ribbon-small-icon"></div>
                                <div class="ribbon-horizontal-button-text">Изображение</div>
                            </div>
                        </button>
                        <button class="btn btn-sm btn-light navbar-btn ribbon-element">
                            <div class="ribbon-horizontal-button-content">
                                <div class="datetime-block ribbon-small-icon"></div>
                                <div class="ribbon-horizontal-button-text">Дата/время</div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="panel-footer ribbon-group-title">
                    <label>
                        Блоки
                    </label>
                </div>
            </div>
            <div class="panel panel-default ribbon-group">
                <div class="panel-body ribbon-toolbar">
                    <button class="btn btn-sm btn-light navbar-btn ribbon-element">
                        <div class="ribbon-vertical-button-content">
                            <div class="paste-large ribbon-large-icon"></div>
                            <div>Вставить</div>
                        </div>
                    </button>
                    <div class="ribbon-clip">
                        <button class="btn btn-sm btn-light navbar-btn ribbon-element">
                            <div class="ribbon-horizontal-button-content">
                                <div class="cut ribbon-small-icon"></div>
                                <div class="ribbon-horizontal-button-text">Вырезать</div>
                            </div>
                        </button>
                        <button class="btn btn-sm btn-light navbar-btn ribbon-element">
                            <div class="ribbon-horizontal-button-content">
                                <div class="copy ribbon-small-icon"></div>
                                <div class="ribbon-horizontal-button-text">Копировать</div>
                            </div>
                        </button>
                        <button class="btn btn-sm btn-light navbar-btn ribbon-element">
                            <div class="ribbon-horizontal-button-content">
                                <div class="properties ribbon-small-icon"></div>
                                <div class="ribbon-horizontal-button-text">Свойства</div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="panel-footer ribbon-group-title">
                    <label>
                        Правка
                    </label>
                </div>
            </div>
            <div class="panel panel-default ribbon-group">
                <div class="panel-body ribbon-toolbar">
                    <div class="input-group mb-3">
                        <div class="ribbon-clip">
                            <div class="ribbon-row">
                                <div class="text-block ribbon-small-icon input-group-prepend" style="margin-top:5px"></div>
                                <select class="custom-select btn-sm ribbon-element ribbon-font-picker" id="inputGroupSelect01" data-bind="options:fonts, optionsText:'name', value:'id'"></select>
                                <select class="custom-select btn-sm ribbon-element ribbon-numerical-input" id="inputGroupSelect02" data-bind="options:fontSizes"></select>
                            </div>
                            <div class="ribbon-row">
                                <button class="btn btn-sm btn-light navbar-btn ribbon-element">
                                    <div class="ribbon-horizontal-button-content">
                                        <div class="bold ribbon-small-icon"></div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer ribbon-group-title">
                    <label>
                        Формат
                    </label>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="system" role="tabpanel" aria-labelledby="system-tab">.1.</div>
    </div>
</div>

<!-- /ko-->
