@using Nancy.Bundle
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!-- ko with: master-->
@Html.Partial("Views/Home/_Menu.cshtml")
<div class="container-fluid workspace">
    <!-- ko foreach: screens-->
    <div class="display" data-bind="click:unselectBlocks, style: {'width':width, 'height':height,'left':left, 'top':top, 'background': $parent.background}"></div>
    <!-- /ko-->
    <!-- ko foreach: blocks-->
    <div class="displayBlock resize-drag"
         data-bind="attr:{id:id}, click:selectBlock, style: {'width':width, 'height':height,'left':left, 'top':top, 'overflow':'hidden'}, css:{selected: selected}">
        <!-- ko if type == "text"-->
        <label class="textblock unselectable" 
               data-bind="text: text, style: {'background-color':backColor, 'color':textColor, 'font-family':font, 'font-size':fontSize+'px', 'text-align':align==0?'left':align==1?'center':'right' }">
        </label>
        <!-- /ko-->
    </div>
    <!-- /ko-->
</div>

<div id="properties" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Свойства</h5>
            </div>
            <div class="modal-body" style="display:flex">
                <div>

                    <!-- ko if: selectedBlock() == null -->
                    @Html.Partial("Home/ScreenProperties")
                    <!-- /ko-->
                    <!-- ko with: selectedBlock()-->
                    <!-- ko if:  $data.type === 'text' -->
                    @Html.Partial("Home/TextBlockProperties")
                    <!-- /ko-->
                    <!-- /ko-->

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bind="click:applyProperties">OK</button>
            </div>
        </div>
    </div>
</div>

<!--/ko-->
@Html.Raw(Bundles.GetJsKey("master-js-key"))
