<div class="input-group mb-3">
    <input type="file" class="custom-file-input" id="inputPicture" accept="image/*" style="display:none">
    <button class="btn btn-primary" data-bind="click: openFileDialog">Импорт из файла</button>
</div>
