<div id="textBlockBackgroundCP" class="input-group colorpicker-component">
    <span class="input-group-text" id="basic-addon1">Цвет фона</span>
    <input type="text" value="#ffff" class="form-control" />
    <span class="input-group-append">
        <span class="input-group-text colorpicker-input-addon"><i></i></span>
    </span>
</div>