<div class="form-group">
    <div id="textBlockText" class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Имя</span>
        </div>
        <input type="text" class="form-control" placeholder="Имя блока" data-bind="value:caption" />
    </div>
</div>

<div class="form-group">
    <label class="d-inline">Шрифт</label>
    <select class="form-control fontPicker d-inline" data-bind="selectedOptions:selectedFonts">
        <!-- ko foreach: $parent.fonts()-->
        <option data-bind="style:{fontFamily:$data}, text:$data, value:$data"></option>
        <!-- /ko-->
    </select>
    <select class="form-control fontSizePicker d-inline" data-bind="options: $parent.fontSizes, selectedOptions:selectedFontSizes"></select>
    <select class="form-control fontSizePicker d-inline" data-bind="options: $parent.fontIndexes, selectedOptions:selectedFontIndexes"></select>
</div>

<div class="form-group">
    <label class="d-inline">Интервал</label>
    <select class="form-control fontSizePicker d-inline" data-bind="options: $parent.fontIndexes, selectedOptions:selectedFontIndexes"></select>
</div>

<div class="input-group mb-3">
    <div>
        @*<input type="file" class="custom-file-input" id="inputFile" style="display:none" accept=".xls,.xlsx,.csv">*@
        <input type="file" class="custom-file-input" id="inputFile" style="display:none" data-bind="attr:{accept:accept}">
        <button class="btn btn-primary" data-bind="click: openFileDialog">Импорт из файла</button>
    </div>
    @*<div style="padding-left: 20px;">
            <label style="margin-bottom:0">Кодировка:</label>
            <div id="encoding">
                <div class="radio">
                    <label><input type="radio" name="win1251" value="0" data-bind="checked: encoding" checked>Windows-1251</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="utf8" value="1" data-bind="checked: encoding">UTF-8</label>
                </div>
            </div>
        </div>*@
    <div style="padding-left: 20px;">
        <label style="margin-bottom:0">Формат:</label>
        <div id="encoding">
            <div class="radio">
                <label><input type="radio" name="csv" value="0" data-bind="checked: format" checked>CSV</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="excel" value="1" data-bind="checked: format">Excel</label>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="accordion accordion-properties" id="tableAccordion">
        <div class="card">
            <div class="card-header" id="headingHeader">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseHeader" aria-expanded="true" aria-controls="collapseHeader">
                        Формат заголовка
                    </button>
                </h5>
            </div>
            <div id="collapseHeader" class="collapse show" aria-labelledby="headingHeader" data-parent="#tableAccordion">
                <div class="card-body">
                    <div id="tableBlockHeaderBackgroundCP" class="input-group colorpicker-component">
                        <span class="input-group-text color-prompt">Цвет фона</span>
                        <input type="text" class="form-control" data-bind="value:headerBackColor" />
                        <span class="input-group-append">
                            <span class="input-group-text colorpicker-input-addon">
                                <i data-bind="style: {'background-color':headerBackColor}"></i>
                            </span>
                        </span>
                    </div>
                    <div id="tableBlockHeaderTextColorCP" class="input-group colorpicker-component">
                        <span class="input-group-text color-prompt">Цвет текста</span>
                        <input type="text" class="form-control" data-bind="value:headerTextColor" />
                        <span class="input-group-append">
                            <span class="input-group-text colorpicker-input-addon">
                                <i data-bind="style: {'background-color':headerTextColor}"></i>
                            </span>
                        </span>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="headerItalic" data-bind="checked: headerItalic">
                        <label class="form-check-label" for="italicCheck">Курсив</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="headerBold" data-bind="checked: headerBold">
                        <label class="form-check-label" for="boldCheck">Полужирный</label>
                    </div>
                    <div id="headerAlign">
                        <div class="radio">
                            <label><input type="radio" name="headerAlign" value="0" data-bind="checked: headerAlign">По левому краю</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="headerAlign" value="1" data-bind="checked: headerAlign">По центру</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="headerAlign" value="2" data-bind="checked: headerAlign">По правому краю</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEven">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEven" aria-expanded="true" aria-controls="collapseStyle">
                        Формат нечетных строк
                        <!-- Пользователь номерует строки с 1, т.е. чётные в массиве - нечетные для пользователя-->
                    </button>
                </h5>
            </div>
            <div id="collapseEven" class="collapse" aria-labelledby="headingEven" data-parent="#tableAccordion">
                <div class="card-body">
                    <div id="tableBlockEvenBackgroundCP" class="input-group colorpicker-component">
                        <span class="input-group-text color-prompt">Цвет фона</span>
                        <input type="text" class="form-control" data-bind="value:evenBackColor" />
                        <span class="input-group-append">
                            <span class="input-group-text colorpicker-input-addon">
                                <i data-bind="style: {'background-color':evenBackColor}"></i>
                            </span>
                        </span>
                    </div>
                    <div id="tableBlockEvenTextColorCP" class="input-group colorpicker-component">
                        <span class="input-group-text color-prompt">Цвет текста</span>
                        <input type="text" class="form-control" data-bind="value:evenTextColor" />
                        <span class="input-group-append">
                            <span class="input-group-text colorpicker-input-addon">
                                <i data-bind="style: {'background-color':evenTextColor}"></i>
                            </span>
                        </span>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="evenItalic" data-bind="checked: evenItalic">
                        <label class="form-check-label" for="evenItalicCheck">Курсив</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="evenBold" data-bind="checked: evenBold">
                        <label class="form-check-label" for="evenBoldCheck">Полужирный</label>
                    </div>
                    <div id="evenAlign">
                        <div class="radio">
                            <label><input type="radio" name="evenAlign" value="0" data-bind="checked: evenAlign">По левому краю</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="evenAlign" value="1" data-bind="checked: evenAlign">По центру</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="evenAlign" value="2" data-bind="checked: evenAlign">По правому краю</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOdd">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOdd" aria-expanded="true" aria-controls="collapseStyle">
                        Формат четных строк
                        <!-- Пользователь номерует строки с 1, т.е. чётные в массиве - нечетные для пользователя-->
                    </button>
                </h5>
            </div>
            <div id="collapseOdd" class="collapse" aria-labelledby="headingOdd" data-parent="#tableAccordion">
                <div class="card-body">
                    <div id="tableBlockOddBackgroundCP" class="input-group colorpicker-component">
                        <span class="input-group-text color-prompt">Цвет фона</span>
                        <input type="text" class="form-control" data-bind="value:oddBackColor" />
                        <span class="input-group-append">
                            <span class="input-group-text colorpicker-input-addon">
                                <i data-bind="style: {'background-color':oddBackColor}"></i>
                            </span>
                        </span>
                    </div>
                    <div id="tableBlockOddTextColorCP" class="input-group colorpicker-component">
                        <span class="input-group-text color-prompt">Цвет текста</span>
                        <input type="text" class="form-control" data-bind="value:oddTextColor" />
                        <span class="input-group-append">
                            <span class="input-group-text colorpicker-input-addon">
                                <i data-bind="style: {'background-color':oddTextColor}"></i>
                            </span>
                        </span>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="oddItalic" data-bind="checked: oddItalic">
                        <label class="form-check-label" for="oddItalicCheck">Курсив</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="oddBold" data-bind="checked: oddBold">
                        <label class="form-check-label" for="oddBoldCheck">Полужирный</label>
                    </div>
                    <div id="oddAlign">
                        <div class="radio">
                            <label><input type="radio" name="oddAlign" value="0" data-bind="checked: oddAlign">По левому краю</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="oddAlign" value="1" data-bind="checked: oddAlign">По центру</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="oddAlign" value="2" data-bind="checked: oddAlign">По правому краю</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>