@using Nancy.Bundle

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Display-control</title>
    @Html.Raw(Bundles.GetCssKey("css-key"))
    @Html.Raw(Bundles.GetJsKey("vendor-js-key"))
</head>
<body .errBody>
    @RenderBody()
</body>
</html>
