@using Nancy.Bundle
@using  Web.Bundles
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Display-control</title>
    <link href="~/images/Logo.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @RenderSection("Header", required: false)
    @Html.Raw(Bundles.GetCssKey("my-css"))
</head>
<body>
    @if (Model.IsAuthenticated)
    {
        <h1>Привет!</h1>
    }
    else
    {
        <div class="background">
            <h1>Ты хто?!</h1>
        </div>
    }
</body>
</html>
