@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using SmartInfo.Web.Extensions
@model SmartInfo.Web.ViewModels.HomeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/dist/favicon.ico">
    <title>vue-app</title>
    @Url.ScriptVersioned("/dist/js/chunk-vendors.js", new {defer = "defer"})
    @Url.ScriptVersioned("/dist/js/app.js", new {defer = "defer"})
    <link href="/dist/css/app.css" rel="stylesheet">

</head>
<body>
<div id="app">

</div>


@{
    var camelCase = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        Formatting = Formatting.None
    };

    if (Model is not null)
    {
        <script>
            window.user = {name: '@Model.User'};
	    </script>
    }
}
</body>
</html>