@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model SmartInfo.Web.ViewModels.HomeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>


@{
    var camelCase = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        Formatting = Formatting.None
    };

    if (Model is not null)
    {
        <script>
            @*window.user = @Json.Serialize(Model.User, camelCase);*@
            window.user = {name: '@Model.User'};
	    </script>
    }
}
</body>
</html>